each project, index in projects
  div(class=`Wrapper ${styles.wrapper}` id=project.slug)
    header(class=`Header ${styles.header}`)
      h1(class=`Title ${styles.title}`)=project.title

      if project.url
        a(class=styles.button href=project.url target="_blank")
          span(class=`ButtonTop ${styles.button__border} ${styles['button__border--top']}`)
          span(class=`ButtonRight ${styles.button__border} ${styles['button__border--right']}`)
          span(class=`ButtonBottom ${styles.button__border} ${styles['button__border--bottom']}`)
          span(class=`ButtonLeft ${styles.button__border} ${styles['button__border--left']}`)

          span(class=`ButtonText`) Launch Project

          span(class=`ButtonArrow ${styles.button__arrow}`)

    div(class=styles.description)
      div(class=styles.information)
        each section, index in project.information
          div(class=`Item ${styles.information__item}`)
            strong(class=styles.information__item__label)=section.label
            span(class=styles.information__item__description)=section.text

      if project.apps
        div(class=`Item ${styles.apps}`)
          h2(class=styles.apps__title) Stores

          div(class=styles.apps__list)
            each app, index in project.apps
              div(class=styles.apps__item)
                a(href=app.link target="_blank")
                  img(class=styles.apps__item__image src=app.image)

    div(class=`${styles.content} ${styles[`content--${project.template}`]}`)
      each content, index in project.content
        if content.type === 'screenshot'
          div(class=`Media ${styles.screenshot}`)
            div(class=styles.screenshot__box style=`max-width: ${content.width}px;`)
              span(class=`Loader ${styles.screenshot__loader}`)
                span
                span
                span

              span(class=styles.screenshot__placeholder style=`padding-top: ${content.height / content.width * 100}%;`)
                img(class=`Image ${styles.screenshot__image}` data-src=content.source)

        if (content.type === 'portrait')
          div(class=`Media ${styles.portrait}`)
            div(class=styles.portrait__box style=`max-width: ${content.width}px;`)
              span(class=`Loader ${styles.portrait__loader}`)
                span
                span
                span

              span(class=styles.portrait__placeholder style=`padding-top: ${content.height / content.width * 100}%;`)
                img(class=`Image ${styles.portrait__image}` data-src=content.source)

        if (content.type === 'landscape')
          div(class=`Media ${styles.landscape}`)
            div(class=styles.landscape__box style=`max-width: ${content.width}px;`)
              span(class=`Loader ${styles.landscape__loader}`)
                span
                span
                span

              span(class=styles.landscape__placeholder style=`padding-top: ${content.height / content.width * 100}%;`)
                img(class=`Image ${styles.landscape__image}` data-src=content.source)
