div(class=`Wrapper ${styles.wrapper}`)
  h1(class=`Title ${styles.title}`) Hey, I'm Bizarro.

  p(class=`Description ${styles.description}`)
    | I'm a 23 y/o Front End Developer and WebGL Developer based in São Paulo, Brazil.
    | I'm currently working remotely with Creative Development at UNIT9.

  p(class=`Description ${styles.description}`)
    | I'm also a Young Jury member of Awwwards and previously I was a Volunteer Editor
    | for Tumblr #Gaming tag until featured tags were discontinued.

  p(class=`Description ${styles.description}`)
    | My main expertise is developing apps, games and websites using JavaScript and WebGL.
    | My current favorite frameworks, libraries and tools are CSS Modules, GreenSock,
    | Lottie, Phaser, Pixi.js, Pug, Three.js and Webpack.

  p(class=`Description ${styles.description}`)
    strong I'm available for freelance work.

  div(class=`Social ${styles.social}`)
    span(class=styles.social__title) Get In Touch

    ul(class=styles.social__list)
      each social, index in socials
        li(class=styles.social__item)
          a(class=styles.social__link href=social.url target="_blank")=social.label
