div(class=`Wrapper ${styles.wrapper}`)
  h1(class=`Title ${styles.title}`) About Me

  p(class=`Description ${styles.description}`)
    | I'm Luis Henrique Bizarro. I'm a 👨🏻‍💻 Creative Developer with focus on WebGL, GLSL and JavaScript.
    | I'm working at Active Theory 🖤 and I'm also a Developer Jury member of Awwwards.

  p(class=`Description ${styles.description}`)
    | I had the opportunity to help building projects for Nike, Google, Airbnb, Samsung, Lufthansa, Shell, Corvette, among others.

  p(class=`Description ${styles.description}`)
    | The projects I've worked on have been awarded at Awwwards (4x Site of The Day, 4x Developer Award, 1x Mobile of The Week) and FWA (11x FWA of The Day).

  div(class=`Social ${styles.social}`)
    span(class=styles.social__title) Get In Touch

    ul(class=styles.social__list)
      each social, index in socials
        li(class=styles.social__item)
          a(class=styles.social__link href=social.url target="_blank")=social.label
